<div class="background-image"></div>

<mat-card>
  <mat-card-header>
    <mat-card-title><app-translate key="EDUCATION.TITLE"></app-translate></mat-card-title>
  </mat-card-header>
  <hr style="border-top: 1px solid white; width: 95%">
  <mat-card-content>
    <div class="formation">
      <div class="title">
        <h3><app-translate key="EDUCATION.ENGINEERING"></app-translate></h3>
        <p>2024 - 2027</p>
      </div>
      <p>Polytech Nice Sophia, Alpes-Maritimes (06), France</p>
    </div>
    <div class="formation">
      <div class="title">
        <h3><app-translate key="EDUCATION.BUT"></app-translate></h3>
        <p>2022 - 2024</p>
      </div>
      <p>IUT Nice Côte d'Azur, site de Sophia Antipolis (06560), France</p>
    </div>
    <div class="formation">
      <div class="title">
        <h3><app-translate key="EDUCATION.CPGE"></app-translate></h3>
        <p>2021 - 2022</p>
      </div>
      <p>Lycée Vauvenargues, Aix-en-Provence (13100), France</p>
    </div>
    <div class="formation">
      <div class="title">
        <h3><app-translate key="EDUCATION.BAC"></app-translate></h3>
        <p>2018 - 2021</p>
      </div>
      <p>Lycée du Coudon, La Garde (83130), France</p>
    </div>
  </mat-card-content>
</mat-card>

