<div class="background-image"></div>

<mat-card>
  <mat-card-header>
    <mat-card-title><app-translate key="SKILLS.TITLE"></app-translate></mat-card-title>
  </mat-card-header>
  <hr style="border-top: 1px solid white; width: 95%">
  <mat-card-content>
    <h3><app-translate key="SKILLS.HARDSKILLS"></app-translate></h3>
    <div id="hardskills">
      <div class="hardskill">
        <p>Angular</p>
        <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>Java</p>
        <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>Typescript</p>
        <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>TypeORM</p>
        <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>NestJS</p>
        <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>Python</p>
        <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>HTML</p>
        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>CSS</p>
        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>CI Github</p>
        <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>Kubernetes</p>
        <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>Bash</p>
        <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>SQL</p>
        <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>C / C++</p>
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>Javascript</p>
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>PHP</p>
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>ArgoCD</p>
        <mat-progress-bar mode="determinate" value="25"></mat-progress-bar>
      </div>
    </div>

    <h3><app-translate key="SKILLS.SOFTSKILLS.TITLE"></app-translate></h3>
    <ul>
      <li><app-translate key="SKILLS.SOFTSKILLS.ITEMS.ADAPTABILITY"></app-translate></li>
      <li><app-translate key="SKILLS.SOFTSKILLS.ITEMS.AUTONOMY"></app-translate></li>
      <li><app-translate key="SKILLS.SOFTSKILLS.ITEMS.INITIATIVE"></app-translate></li>
      <li><app-translate key="SKILLS.SOFTSKILLS.ITEMS.ORGANIZATION"></app-translate></li>
      <li><app-translate key="SKILLS.SOFTSKILLS.ITEMS.THOROUGHNESS"></app-translate></li>
      <li><app-translate key="SKILLS.SOFTSKILLS.ITEMS.TEAMWORK"></app-translate></li>
    </ul>

  </mat-card-content>
</mat-card>

