<div class="background-image"></div>

<mat-card>
  <mat-card-header>
    <mat-card-title>Mes compétences</mat-card-title>
  </mat-card-header>
  <hr style="border-top: 1px solid white; width: 95%">
  <mat-card-content>
    <h3>Hardskills</h3>
    <div id="hardskills">
      <div class="hardskill">
        <p>Angular</p>
        <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>Java</p>
        <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>Typescript</p>
        <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>TypeORM</p>
        <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>NestJS</p>
        <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>Python</p>
        <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>HTML</p>
        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>CSS</p>
        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>CI Github</p>
        <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>Kubernetes</p>
        <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>Bash</p>
        <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>SQL</p>
        <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>C / C++</p>
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>Javascript</p>
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>PHP</p>
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
      </div>
      <div class="hardskill">
        <p>ArgoCD</p>
        <mat-progress-bar mode="determinate" value="25"></mat-progress-bar>
      </div>
    </div>

    <h3>Softskills</h3>
    <ul>
      <li>Adaptabilité</li>
      <li>Autonomie</li>
      <li>Esprit d'initiative</li>
      <li>Organisation</li>
      <li>Rigueur</li>
      <li>Travail en équipe</li>
    </ul>

  </mat-card-content>
</mat-card>

