<div class="background-image"></div>

<mat-card>
  <mat-card-header>
    <mat-card-title><app-translate key="WORK_EXPERIENCE.TITLE"></app-translate></mat-card-title>
  </mat-card-header>
  <hr style="border-top: 1px solid white; width: 95%">
  <mat-card-content>
    <div class="exp">
      <div class="title">
        <h3><app-translate key="WORK_EXPERIENCE.BIGSOOL.TITLE"></app-translate></h3>
        <p>2023 - 2024</p>
      </div>
      <p>Bigsool, Valbonne (06560), France</p>
      <ul>
        <li><app-translate key="WORK_EXPERIENCE.BIGSOOL.MISSION1"></app-translate></li>
        <li><app-translate key="WORK_EXPERIENCE.BIGSOOL.MISSION2"></app-translate></li>
        <li><app-translate key="WORK_EXPERIENCE.BIGSOOL.MISSION3"></app-translate></li>
        <li><app-translate key="WORK_EXPERIENCE.BIGSOOL.MISSION4"></app-translate></li>
      </ul>
    </div>
    <div class="exp">
      <div class="title">
        <h3><app-translate key="WORK_EXPERIENCE.SYNERGY.TITLE"></app-translate></h3>
        <p>2022 - 2023</p>
      </div>
      <p>Synergy, Carqueiranne (83320), France</p>
      <ul>
        <li><app-translate key="WORK_EXPERIENCE.SYNERGY.MISSION1"></app-translate></li>
        <li><app-translate key="WORK_EXPERIENCE.SYNERGY.MISSION2"></app-translate></li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>

