<div class="background-image"></div>

<mat-card>
  <mat-card-header>
    <mat-card-title>Mon expérience professionnelle</mat-card-title>
  </mat-card-header>
  <hr style="border-top: 1px solid white; width: 95%">
  <mat-card-content>
    <div class="exp">
      <div class="title">
        <h3>Alternant DevOps</h3>
        <p>2023 - 2024</p>
      </div>
      <p>Bigsool, Valbonne (06560), France</p>
      <ul>
        <li>Développement et déploiement d’un intranet exposant des environnements temporaires de test</li>
        <li>Automatisation de la création de pipelines CI/CD</li>
        <li>Mise en place de services d'audit et de sécurité de l'infrastructure cloud</li>
        <li>Technologies utilisées : Angular, Nestjs, TypeORM, PostgreSQL, Kubernetes, Docker, Fastlane...</li>
      </ul>
    </div>
    <div class="exp">
      <div class="title">
        <h3>Technicien informatique en alternance</h3>
        <p>2022 - 2023</p>
      </div>
      <p>Synergy, Carqueiranne (83320), France</p>
      <ul>
        <li>Assistance et dépannage à distance ou sur site des clients</li>
        <li>Développement de solutions afin d'optimiser les processus de production</li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>

